<script id="scriptInit" type="text/javascript">
    $(document).ready(function () {
        $(".flyoutmenu").wijmenu();
    });
</script>

<div id="wrapHeader">
    <div id="header">
        <div id="wrapLogo">
            <div class="logo">
            <img src="/images/ss-logo.png" />
            </div>
        </div>
      
    <div id="wrapNav">
        <div id="nav">
            <ul class="menu">
            <li><a href="/Views/Admin/LookUp.html">LookUp</a></li>
            <li><a href="#">Skill</a></li>
            <li class="last"><a href="#">Prerequisites</a></li>
            </ul>
        </div>
        <div id="welcome">
            <div id="profile-text">                         
                <span class="welcome-text">Welcome</span>
                <span id="menu_Name" class="user-name"><a href="" id="viewProfile">Admin</a></span>
                <ul id="user-menu">
                    <li><a href="EmployerMessage.html">Inbox</a></li>
                    <li><a href="javascript:void(o);" onclick="app.logOff();">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
