<div>
    <h1 class="box-header">
        Activity Summary                           
    </h1>
</div>   
<div class="common_background">
 <div class="jobseeker_myinformation_language_list_li_ul" >
    <div  class="ActivitySummary">
        <div class="ActivitySummary_Label">
            <a ><i class="fa fa-exclamation-circle fa-5x activityIcon"></i></a>
            <label class="txt-gray-lg activityLabel">Offer Response</label><br />
            <a class="butn butn-white activityLabel" href="#">View Responses</a>
        </div> 
    </div> 
    <div  class="ActivitySummary">
        <div class="ActivitySummary_Label">
            <a><i class="fa fa-user fa-5x activityIcon"></i></a>
            <label class="txt-gray-lg activityLabel">New Applicants</label><br />
            <a class="butn butn-white activityLabel" href="ReviewCandidate.html">Review Applicants</a>
        </div> 
    </div>
    <div  class="ActivitySummary">
        <div class="ActivitySummary_Label">
            <a ><i class="fa fa-envelope fa-5x activityIcon"></i></a>
            <label class="txt-gray-lg activityLabel">New Messages</label><br />
            <a class="butn butn-white activityLabel" href="EmployerMessage.html">Go To User Inbox</a>
        </div> 
    </div> 
    <div  class="ActivitySummary">
        <div class="ActivitySummary_Label">
            <a ><i class="fa fa-users fa-5x activityIcon"></i></a>
            <label class="txt-gray-lg activityLabel">New Candidate Matches</label><br />
            <a class="butn butn-white activityLabel" href="ReviewCandidate.html">Review Candidates</a>
        </div> 
    </div> 
    <div  class="ActivitySummary">
        <div class="ActivitySummary_Label">
            <a ><i class="fa fa-star-o fa-5x activityIcon"></i></a>
            <label class="txt-gray-lg activityLabel">View Favorite Candidates </label><br />
            <a class="butn butn-white activityLabel" href="Favorite.html">Favorite Candidates</a>
        </div> 
    </div>        
</div> 
</div>        