<div>
     <div data-bind="visible: viewModel.EmployerSentMessage.MemberData().length == 0">
        <label>Your Sent Message tab is empty... </label>
    </div>
    <div class="list-section work-section clearfix">              
        <div class="jobseeker_myinformation_list_tab_sub_div" data-bind="foreach: viewModel.EmployerSentMessage.MemberData">
            <div id='Message' class='jobsApplied' >
                <div class="tab-inner">
                    <!-- ko if: btnExpandMessage() == '+' -->
                        <div>
                            <div class="expander"><label class="txt-dkgray-xlg" data-bind="text: CompanyName"></label>
                                <a class="icon" href="" data-bind="click: $root.expandMessageDetails" ><i class="fa fa-plus-circle fa-2x"></i></a>
                            </div>                                    
                            <div><label class="txt-gray-lg inline" data-bind="text: JobTitle"></label> | <label class="txt-gray-lg inline" data-bind="    text: CompanyLocation"></label></div>
                            <div><label class="inline">Date Posted:</label> <label class="inline" data-bind="text: datePosted"></label> | <label class="inline">SkillScore:</label><label class="inline" data-bind="    text: SkillScore"></label>
                            </div>
                            <br />  
                            <div><label class="inline">From: </label><label class="inline" data-bind="text: CompanyName"></label><label class="inline">Subject: </label><label class="inline" data-bind="    text: MessageSubject"></label><label class="jobseeker_Notification_innerli" data-bind="    text: messageSentDate"></label></div>  
                            <div><label data-bind="html: MessageDetails"></label></div>
                            <hr size="1"/>   
                        </div>
                    <!-- /ko -->
                    <!-- ko if: btnExpandMessage() == '-' -->
                        <div>
                            <div class="expander"><label class="txt-dkgray-xlg" data-bind="text: CompanyName"></label>
                                <a class="icon" href="" data-bind="click: $root.expandMessageDetails" ><i class="fa fa-minus-circle fa-2x"></i></a>
                            </div>                                    
                            <div><label class="txt-gray-lg inline" data-bind="text: JobTitle"></label> | <label class="txt-gray-lg inline" data-bind="    text: CompanyLocation"></label></div>
                            <div><label class="inline">Date Posted:</label> <label class="inline" data-bind="text: datePosted"></label> | <label class="inline">SkillScore:</label><label class="inline" data-bind="    text: SkillScore"></label>
                            </div>
                            <br />                        
                            <br />
                            <hr size="1"/>   
                       
                            <div><label class="inline">From: </label><label class="inline" data-bind="text: CompanyName"></label><label class="inline">Subject: </label><label class="inline" data-bind="    text: MessageSubject"></label><label class="jobseeker_Notification_innerli" data-bind="    text: messageSentDate"></label></div>  
                            <div><label data-bind="html: MessageDetails"></label></div>
                        
                        </div>
                        <hr size="1"/>
                
                    <!-- /ko -->
                </div>
            </div>
        </div>         
    </div>
</div>

    
