<div>
        <div  data-bind="foreach: jobsList.currentPageData">
            <div id='Message' class='jobsApplied' >
            <div class="jobseeker_myinformation_list_tab_sub_div">
            <div>   <div class="skill_Score"><div class="skill_Score_title">Skill Score</div><div class="skill_Score_value" data-bind="    text: totalSkillScore"></div></div></div>
            <div><label class="jobseeker_MessageEmployer" data-bind="text: jobPosition"></label></div>     
                                           
            <div><label class="jobseeker_MessagePosition inline" data-bind="text: employerName"></label> , <label class="jobseeker_MessagePosition inline" data-bind="    text: companyLocation"></label></div>
            <div><label class="job-stat first"> Posted:</label> <label class="job-stat-value" data-bind="text: datePosted"></label><label class="job-stat"> Views:</label> <label class="job-stat-value" data-bind="    text: jobViews"></label><label class="job-stat"> Applicants:</label> <label class="job-stat-value" data-bind="    text: applicants"></label><label class="job-stat"> Average Applicant skill score:</label> <label class="job-stat-value last" data-bind="    text: applicantsSkillScore"></label></div> 
            <hr size="1" />          
            
            <div data-bind="wijexpander: { expanded: expanded }, event: { mouseup: $root.updateJobViews }">
                <h4>Details</h4>
                <div>
                    <div class="marginclass"><label class="details_section_title">Salary</label></div>
                    <div><label  data-bind="text: salaryRange"></label></div>
                    <div class="marginclass"><label class="details_section_title">Description</label></div>
                    <div><label  data-bind="text: jobDescription"></label></div>
                    <div class="marginclass"><label class="details_section_title">Prerequisites</label></div>
                    <section data-bind="foreach: prerequisites"> 
                        <div class="prerequisites"><div><label class="label_Prerequisite" data-bind="text: designExperience"></label></div></div>
                    </section>

                    <div class="marginclass"><label class="details_section_title">Required Skills</label></div>
                    <div class="jobseeker_AppliedJobs_ul_li">
                       <div class="jobseeker_AppliedJobs_ul_li" data-bind="foreach: requiredSkills"> 
                            <div data-bind="    template: { name: 'SkillList' }"></div>
                        </div>
                    </div>
                    <div class="jobseeker_additionalinformation_innerli"><a class="btn btn-orange" href=""  data-bind="click: viewModel.applyJobs" >Apply</a></div>
                    <div class="jobseeker_additionalinformation_innerli"><a class="btn btn-orange" href=""  data-bind="click: viewModel.saveJobs" >Save Job</a></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="jobseeker_myinformation_exampleli" data-bind="visible: jobsList().length > 5">
        <a class="pagintionClass" href="#" data-bind="click: jobsList.movePrevious"><<</a>
        <a class="pagintionClass" href="#" data-bind="click: jobsList.moveFirst">1</a>                    
        <a class="pagintionClass" href="#" data-bind="click: jobsList.second">2</a>
        <a class="pagintionClass" href="#" data-bind="click: jobsList.third">3</a>                    
        <a class="pagintionClass" href="#" data-bind="click: jobsList.fourth">4</a>
        <a class="pagintionClass" href="#" data-bind="click: jobsList.moveNext">>></a>
       
    </div>
</div>
<script id="SkillList" type="text/html">
    <div class="jobseeker_additionalinformation_innerli">
        <div class="skill_List" >
            <div class="common_SkillStyle" >
                <label class="skill_box_title"  data-bind=" trimText: skillName, attr: { title: skillName }"></label>
                <div class="skill_box_link"><a class="improve" href="EducationOptions.html">Improve this skill</a></div>
                <div class="skill_box_link"><a class="see-all-jobs" href="#"> See jobs that require this skill</a></div>
            </div>
            <div class="common_Skill_ListStyle_small">
                <!-- ko if: status == 'low' --><div class="low"><div class="skill_Score_title">Skill Score</div><label class="skill_Score_small_value" data-bind=" text: skillScore"></label>
                </div><!-- /ko -->
                <!-- ko if: status == 'medium' --><div class="medium"><div class="skill_Score_title">Skill Score</div><label class="skill_Score_small_value" data-bind=" text: skillScore"></label>
                </div><!-- /ko -->
                <!-- ko if: status == 'high' --><div class="high"><div class="skill_Score_title">Skill Score</div><label class="skill_Score_small_value" data-bind=" text: skillScore"></label>
                </div><!-- /ko -->
            </div>
        </div>
    </div>
</script>