<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Education Options</title>
        <!-- Wijmo CSS and script -->
      <link type="text/css" href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" />
      <link href="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.1.4.min.css" rel="stylesheet" type="text/css" />    
    <!-- Multi-select widget (not Wijmo control) -->
      <link href="/Content/jquery.multiselect.css" rel="stylesheet" />
      <link href="/Content/skillsmart.css" rel="stylesheet" />
      <link href="/Content/skillsmart.wijmo.css" rel="stylesheet" />
      <link href="/Content/common.css" rel="stylesheet" />
      <link href="/Content/jobseekerstyle.css" rel="stylesheet" />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="container">
    <div id="hph">
    </div>
    <div id="content">
      <div id="main-div">
        <section class='sectionModified box box-white'>
          <div>
            <h1 class='box-header'>Education Opportunities</h1>
            <div class='common_background'>
              <div class='class-entry'>
                <h2><a href='https://www.pgcc.edu/Programs_and_Courses/course_detail.aspx?courseID=6442451792&programID=6442462407' target='_blank'>Introduction to the Hospitality Industry</a></h2>
                <section>
                  <div class='field'>
                    <label class='field-title'>Institution</label>
                    <label class='field-value'>Prince George's County Community College</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Department</label>
                    <label class='field-value'>Hospitality, Tourism<br /> and Culinary Arts</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Location</label>
                    <label class='field-value'>301 Largo Rd.<br />Kettering, MD 20774</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Cost</label>
                    <label class='field-value'>$300 in-county<br />$555 out of County</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Start Date</label>
                    <label class='field-value'>9/3/14</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Credits</label>
                    <label class='field-value'>3 hours</label>
                  </div>
                </section>
                <section>
                  <div class='field' style='width:40%'>
                    <label class='field-title'>Description</label>
                    <label class='field-value'>Overview of hotel, food service, and travel/tourism manage- ment. Special projects, readings, guest lectures, and field trips are included.</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Related Skills</label>
                    <label class='field-value'>Manage Personnel Resources and Scheduling<br />Resolving Guest Issues and Complaints<br/>Vendor Management</label>
                  </div>
                  <div class='field' style='float:right'>
                    <a class='bton btn-orange btn-section' href='https://webadvisor.pgcc.edu/WebAdvisor/WebAdvisor?TYPE=M&PID=CORE-WBMAIN&TOKENIDX=188147917' target="_blank">Register</a>
                  </div>
                </section>
              </div>
              <div style='clear:both'></div>'
              <!-- class #2 -->
              <div class='class-entry'>
                <h2><a href='https://www.pgcc.edu/Programs_and_Courses/course_detail.aspx?courseID=6442451820&programID=6442462407' target='_blank'>Bar and Beverage Management</a></h2>
                <section>
                  <div class='field'>
                    <label class='field-title'>Institution</label>
                    <label class='field-value'>Prince George's County Community College</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Department</label>
                    <label class='field-value'>Hospitality, Tourism<br /> and Culinary Arts</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Location</label>
                    <label class='field-value'>301 Largo Rd.<br />Kettering, MD 20774</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Cost</label>
                    <label class='field-value'>$300 in-county<br />$555 out of County</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Start Date</label>
                    <label class='field-value'>9/3/14</label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Credits</label>
                    <label class='field-value'>3 hours</label>
                  </div>
                </section>
                <section>
                  <div class='field' style='width:40%'>
                    <label class='field-title'>Description</label>
                    <label class='field-value'>Provides students with the practical knowledge needed to manage a bar or beverage operation. The course presents principles and theories to support and reinforce the practical aspects. </label>
                  </div>
                  <div class='field'>
                    <label class='field-title'>Related Skills</label>
                    <label class='field-value'>Follow and Enforce Liquor Regulations<br/>Maximize Usage of Ingredients<br/>Mix and Serve Drinks</label>
                  </div>
                  <div class='field' style='float:right'>
                    <a class='bton btn-orange btn-section' href='https://webadvisor.pgcc.edu/WebAdvisor/WebAdvisor?TYPE=M&PID=CORE-WBMAIN&TOKENIDX=4252618083' target="_blank">Register</a>
                  </div>
                </section>
              </div>
              <div style='clear:both'></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="fph">
    </div>
  </div>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.2.1.4.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/external/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/external/knockout.wijmo.js"></script>
    <script src="/Scripts/vendor/knockout.mapping.js"></script>
    <script src="/Scripts/vendor/knockout.validation.debug.js"></script>  
    <script src="/Scripts/jquery.multiselect.js"></script>
    <script src="/Scripts/Common.js"></script>
    <script src="/Scripts/Auth/app.datamodel.js"></script>
    <script src="/Scripts/Auth/app.viewmodel.js"></script>
    <script src="/Scripts/jobseeker.js"></script>
      <script>
          var viewModel = {}
          $(document).ready(function () {
              viewModel.loadOps = 0;
              initModelData(viewModel, ['Header'], [null], ensureTemplates);
          });
  </script>
</body>
</html>
